<div class="row marketing">

  <h1>
    <b>{{ ctrl.feature.info.keyword }}</b>
    {{ ctrl.feature.info.name }}
    <span ng-repeat="tag in ctrl.feature.tags">
      <span class="label label-info">@{{ tag }}</span>
    </span>
  </h1>

  <p>
    Runned in:
    <span class="label label-default">{{ ctrl.feature.testRun.env }}</span>
    <a ng-href="#/test-runs/{{ ctrl.feature.testRun.id }}">test run @ {{ ctrl.feature.testRun.date | date:'yyyy-MM-dd
      HH:mm' }}</a>
  </p>

  <p>{{ ctrl.feature.description }}</p>

  <hr>

  <div ng-repeat="scenario in ctrl.feature.scenarii">

    <h2>
      <tc-element-info info="scenario.info"></tc-element-info>
      <tc-status status="scenario.status"></tc-status>
      <span ng-repeat="tag in scenario.tags">
        <span class="label label-info">@{{ tag }}</span>
      </span>
    </h2>

    <div ng-if="scenario.background">
      <p ng-repeat="step in scenario.background.steps">
        <i>
          <tc-element-info info="step.info"></tc-element-info>
        </i>
        <tc-status status="step.status"></tc-status>
      </p>
    </div>

    <p ng-repeat="step in scenario.steps">
      <tc-element-info info="step.info"></tc-element-info>
      <tc-status status="step.status"></tc-status>
    </p>

  </div>

</div>

