{
  "root": true,
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ]
  }
}
