{
  "root": true,
  "env": {
    "es2020": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-var": "error",
    "prefer-const": "error",
    "default-case": "error",
    "dot-notation": [
      "error",
      {
        "allowPattern": "^[a-z]+(_[a-z]+)+$"
      }
    ],
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": true
      }
    ]
  }
}
