<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Zucchini UI</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/chartist/dist/chartist.min.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="zucchini-ui-frontend">

<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ng-href="#/">Zucchini UI</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li><a ng-href="#/">Derniers tirs de tests</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div ng-controller="ErrorCtrl as ctrl">
    <div ng-if="ctrl.message" class="alert alert-danger" role="alert">
      <button type="button" class="close" aria-label="Fermer" ng-click="ctrl.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ ctrl.message }}
    </div>
  </div>

  <div ng-view=""></div>

</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-elastic/elastic.js"></script>
<script src="bower_components/chartist/dist/chartist.min.js"></script>
<script src="bower_components/pure-uuid/uuid.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- Dynamically generated configuration-->
<script src="scripts/config.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/browser-storage.js"></script>
<script src="scripts/confirmation-modal.js"></script>
<script src="scripts/tc-element-info.js"></script>
<script src="scripts/tc-feature-list.js"></script>
<script src="scripts/tc-pie-chart.js"></script>
<script src="scripts/tc-scenario-list.js"></script>
<script src="scripts/tc-scenario-pie-chart.js"></script>
<script src="scripts/tc-simple-text.js"></script>
<script src="scripts/tc-stats-dashboard.js"></script>
<script src="scripts/tc-status.js"></script>
<script src="scripts/tc-tags.js"></script>
<script src="scripts/filters.js"></script>
<script src="scripts/errors.js"></script>
<script src="scripts/test-runs.js"></script>
<script src="scripts/features.js"></script>
<script src="scripts/scenarii.js"></script>
<script src="scripts/test-run-tags.js"></script>
<script src="scripts/url-builder.js"></script>
<script src="scripts/presence.js"></script>
<script src="scripts/websocket.js"></script>
<script src="scripts/callback-container.js"></script>
<script src="scripts/window-visibility.js"></script>
<!-- endbuild -->
</body>
</html>
