@import "~bootstrap/dist/css/bootstrap.css";
@import "~chartist/dist/chartist.min.css";
@import "~bootstrap/less/variables.less";

@import "./badges.less";

/**
 * Important variables
 */
@passed-color: @brand-success;
@failed-color: @brand-danger;
@pending-color: @brand-warning;
@not-run-color: #777;

.step-definition-location {
  float: right;
  font-size: 14px;
  color: #39b54a;
  margin-right: 1em;
}

.step-definition-variant {
  display: block;
}

.step-definition-keyword {
  font-weight: bold;
  color: dodgerBlue;
  margin-right: 0.5em;
}

.step-definition-argument {
  font-weight: bold;
  color: #ff8d1e;
}

.step-definition-variant-details {
  float: left;
}
