@import "~bootstrap/dist/css/bootstrap.css";
@import "~chartist/dist/chartist.min.css";
@import "~bootstrap/less/variables.less";

@import "./badges.less";

/**
 * Important variables
 */
@passed-color: @brand-success;
@failed-color: @brand-danger;
@pending-color: @brand-warning;
@not-run-color: #777;

/**
 * Trends
 */

.ct-chart-bar .ct-series.chart-trend-passed .ct-bar {
  stroke: @passed-color;
}

.ct-chart-bar .ct-series.chart-trend-failed .ct-bar {
  stroke: @failed-color;
}

.ct-chart-bar .ct-series.chart-trend-pending .ct-bar {
  stroke: @pending-color;
}

.ct-chart-bar .ct-series.chart-trend-not-run .ct-bar {
  stroke: @not-run-color;
}

/**
 * Stats legend
 */

.stats-legend-total td {
  font-style: italic;
}

.details-modal-dialog {
  width: 90%;
  display: table;
}

.step-definition-location {
  float: right;
  font-size: 14px;
  color: #39b54a;
  margin-right: 1em;
}

.step-definition-variant {
  display: block;
}

.step-definition-keyword {
  font-weight: bold;
  color: dodgerBlue;
  margin-right: 0.5em;
}

.step-definition-argument {
  font-weight: bold;
  color: #ff8d1e;
}

.step-definition-variant-details {
  float: left;
}

@media (min-width: 1200px) {
  .container {
    width: 1250px;
  }
}
