{
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 3 chrome versions",
            "last 3 firefox versions",
            "last 2 safari versions",
            "last 2 edge versions",
            "last 1 ie version"
          ]
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "targets": {
              "node": true
            },
            "useBuiltIns": "usage"
          }
        ],
        "@babel/preset-react"
      ]
    }
  }
}
