{
  "root": false,
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16.8.6"
    }
  },
  "extends": [
    "plugin:react/recommended"
  ]
}
