{
  "root": false,
  "extends": ["plugin:cypress/recommended"],
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/recommended"]
    }
  ]
}
