{
  "root": false,
  "parser": "babel-eslint",
  "extends": ["plugin:cypress/recommended"],
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/recommended"],
      "plugins": ["@typescript-eslint"]
    }
  ]
}
