<div>

  <ol class="breadcrumb">
    <li>Type {{ ctrl.feature.testRun.type }}</li>
    <li>
      <a ng-href="#/test-runs/{{ ctrl.feature.testRun.id }}">
        Tir du {{ ctrl.feature.testRun.date | niceDate }}
      </a>
    </li>
    <li class="active">{{ ctrl.feature.info.keyword }} {{ ctrl.feature.info.name }}</li>
  </ol>

  <h1>
    <tc-element-info info="ctrl.feature.info"></tc-element-info>
    <small>
      <tc-status status="ctrl.feature.status"></tc-status>
    </small>
  </h1>

  <p ng-if="ctrl.feature.group">
    <b>Groupe :</b>
    {{ ctrl.feature.group }}
  </p>

  <p>
    <b>Source :</b>
    <code>{{ ctrl.feature.location.filename }}</code>, ligne <code>{{ ctrl.feature.location.line }}</code>
  </p>

  <p>
    <b>Créé le :</b>
    {{ ctrl.feature.createdAt | niceDate }}
  </p>

  <p ng-if="ctrl.feature.createdAt != ctrl.feature.modifiedAt">
    <b>Modifié le :</b>
    {{ ctrl.feature.modifiedAt | niceDate }}
  </p>

  <p ng-if="ctrl.feature.tags.length > 0">
    <b>Tags :</b>
    <tc-tags test-run-id="ctrl.feature.testRunId" tags="ctrl.feature.tags"></tc-tags>
  </p>

  <!-- Buttons -->

  <hr>

  <div class="btn-group" role="group">

    <button ng-click="ctrl.delete()" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Supprimer
    </button>

  </div>

  <!-- Stats -->

  <hr>

  <h2>Avancement</h2>

  <div class="row">
    <div class="col-md-4">
      <p class="text-center">Tous les tests</p>
      <div style="height: 20rem">
        <tc-scenario-pie-chart stats="ctrl.feature.stats.all" total="ctrl.feature.stats.all.count"></tc-scenario-pie-chart>
      </div>
    </div>
    <div class="col-md-4">
      <p class="text-center">Tests analysés</p>
      <div style="height: 20rem">
        <tc-scenario-pie-chart stats="ctrl.feature.stats.reviewed" total="ctrl.feature.stats.all.count"></tc-scenario-pie-chart>
      </div>
    </div>
    <div class="col-md-4">
      <p class="text-center">Tests non analysés</p>
      <div style="height: 20rem">
        <tc-scenario-pie-chart stats="ctrl.feature.stats.nonReviewed" total="ctrl.feature.stats.all.count"></tc-scenario-pie-chart>
      </div>
    </div>
  </div>


  <!-- Description -->

  <div ng-if="ctrl.feature.description">

    <hr>

    <p>
      <tc-simple-text display-feature="false" content="ctrl.feature.description"></tc-simple-text>
    </p>

  </div>

  <!-- Scenarii -->

  <hr>

  <h2>Scénarii</h2>


  <tc-scenario-list scenarii="ctrl.feature.scenarii">
  </tc-scenario-list>

  <!-- History -->

  <hr>

  <h2>Historique</h2>

  <div class="form" style="margin-bottom: 10px">
    <div class="form-group">
      <b>Filtrer :</b>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.historyFilters.sameTestRun" ng-change="ctrl.updateHistoryStoredFilters()">
        Même type de tir
      </label>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-md-1">Type</th>
      <th class="col-md-4">Tir</th>
      <th class="col-md-1">Statut</th>
      <th class="col-md-1">Total</th>
      <th class="col-md-1">Succès</th>
      <th class="col-md-1">Échecs</th>
      <th class="col-md-1">En attente</th>
      <th class="col-md-1">Non joués</th>
      <th class="col-md-1">Analysés</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="feature in ctrl.history | filter:ctrl.isHistoryItemDisplayable track by feature.testRun.id"
        ng-class="ctrl.feature.testRunId == feature.testRun.id && 'active'">
      <td>
        <span class="label label-default">{{ feature.testRun.type }}</span>
      </td>
      <td>
        <a ng-href="#/features/{{ feature.id }}">
          {{ feature.testRun.date | niceDate }}
        </a>
      </td>
      <td>
        <tc-status status="feature.status"></tc-status>
      </td>
      <td><span class="badge">{{ feature.stats.all.count }}</span></td>
      <td><span class="badge">{{ feature.stats.all.passed }}</span></td>
      <td><span class="badge">{{ feature.stats.all.failed }}</span></td>
      <td><span class="badge">{{ feature.stats.all.pending }}</span></td>
      <td><span class="badge">{{ feature.stats.all.notRun }}</span></td>
      <td><span class="badge">{{ feature.stats.reviewed.count }}</span></td>
    </tr>
    </tbody>
  </table>

</div>
