<div>

  <ol class="breadcrumb">
    <li>Type {{ ctrl.feature.testRun.type }}</li>
    <li>
      <a ng-href="#/test-runs/{{ ctrl.feature.testRun.id }}">
        Tir du {{ ctrl.feature.testRun.date | niceDate }}
      </a>
    </li>
    <li class="active">{{ ctrl.feature.info.keyword }} {{ ctrl.feature.info.name }}</li>
  </ol>

  <h1>
    <tc-element-info info="ctrl.feature.info"></tc-element-info>
    <small>
      <tc-status status="ctrl.feature.status"></tc-status>
    </small>
  </h1>

  <p ng-if="ctrl.feature.group">
    <b>Groupe :</b>
    {{ ctrl.feature.group }}
  </p>

  <p>
    <b>Source :</b>
    <code>{{ ctrl.feature.location.filename }}</code>, ligne <code>{{ ctrl.feature.location.line }}</code>
  </p>

  <p>
    <b>Créé le :</b>
    {{ ctrl.feature.createdAt | niceDate }}
  </p>

  <p ng-if="ctrl.feature.createdAt != ctrl.feature.modifiedAt">
    <b>Modifié le :</b>
    {{ ctrl.feature.modifiedAt | niceDate }}
  </p>

  <p ng-if="ctrl.feature.tags.length > 0">
    <b>Tags :</b>
    <tc-tags test-run-id="ctrl.feature.testRunId" tags="ctrl.feature.tags"></tc-tags>
  </p>

  <!-- Buttons -->

  <hr>

  <div class="btn-group" role="group">

    <button ng-click="ctrl.delete()" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Supprimer
    </button>

  </div>

  <!-- Stats -->

  <hr>

  <h2>Avancement</h2>

  <tc-scenario-progress stats="ctrl.feature.stats"></tc-scenario-progress>

  <!-- Description -->

  <div ng-if="ctrl.feature.description">

    <hr>

    <p>
      <tc-line-breaks content="ctrl.feature.description"></tc-line-breaks>
    </p>

  </div>

  <!-- Scenarii -->

  <hr>

  <h2>Scénarii</h2>

  <div class="form" style="margin-bottom: 10px">

    <div class="form-group">
      <b>Filtrer par statut :</b>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.filters.passed" ng-change="ctrl.updateStoredFilters()"> Succès
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.filters.failed" ng-change="ctrl.updateStoredFilters()"> Échecs
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.filters.pending" ng-change="ctrl.updateStoredFilters()"> En attente
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.filters.notRun" ng-change="ctrl.updateStoredFilters()"> Non joués
      </label>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="col-md-11">Scénario</th>
      <th class="col-md-1">Statut</th>
    </tr>
    </thead>
    <tbody>
    <tr
      ng-repeat="scenario in ctrl.feature.scenarii | filter:ctrl.isScenarioDisplayable as filteredScenarii track by scenario.id">
      <td>
        <a ng-href="#/scenarii/{{ scenario.id }}">
          <tc-element-info info="scenario.info"></tc-element-info>
        </a>
      </td>
      <td>
        <tc-status status="scenario.status"></tc-status>
      </td>
    </tr>
    </tbody>
    <tfoot ng-if="filteredScenarii.length != ctrl.feature.scenarii.length">
    <tr>
      <td class="warning" colspan="2" style="text-align: center">
        Attention :
        <ng-pluralize count="ctrl.feature.scenarii.length - filteredScenarii.length"
                      when="{ 'one': 'un scénario masqué', 'other': '{} scénarii masqués'}">
        </ng-pluralize>
      </td>
    </tr>
    </tfoot>
  </table>

  <!-- History -->

  <hr>

  <h2>Historique</h2>

  <div class="form" style="margin-bottom: 10px">
    <div class="form-group">
      <b>Filtrer :</b>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.historyFilters.sameTestRun" ng-change="ctrl.updateStoredFilters()">
        Même type de tir
      </label>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-md-1">Type</th>
      <th class="col-md-5">Tir</th>
      <th class="col-md-1">Statut</th>
      <th class="col-md-1">Total</th>
      <th class="col-md-1">Succès</th>
      <th class="col-md-1">Échecs</th>
      <th class="col-md-1">En attente</th>
      <th class="col-md-1">Non joués</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="feature in ctrl.history | filter:ctrl.isHistoryItemDisplayable track by feature.testRun.id"
        ng-class="ctrl.feature.testRunId == feature.testRun.id && 'active'">
      <td>
        <span class="label label-default">{{ feature.testRun.type }}</span>
      </td>
      <td>
        <a ng-href="#/features/{{ feature.id }}">
          {{ feature.testRun.date | niceDate }}
        </a>
      </td>
      <td>
        <tc-status status="feature.status"></tc-status>
      </td>
      <td><span class="badge">{{ feature.stats.count }}</span></td>
      <td><span class="badge">{{ feature.stats.statsByStatus['PASSED'] }}</span></td>
      <td><span class="badge">{{ feature.stats.statsByStatus['FAILED'] }}</span></td>
      <td><span class="badge">{{ feature.stats.statsByStatus['PENDING'] }}</span></td>
      <td><span class="badge">{{ feature.stats.statsByStatus['NOT_RUN'] }}</span></td>
    </tr>
    </tbody>
  </table>

</div>
