<div>

  <ol class="breadcrumb">
    <li>Environnement {{ ctrl.scenario.testRun.env }}</li>
    <li>
      <a ng-href="#/test-runs/{{ ctrl.scenario.testRun.id }}">
        Tir du {{ ctrl.scenario.testRun.date | niceDate }}
      </a>
    </li>
    <li>
      <a href="#/features/{{ ctrl.scenario.featureId }}">
        {{ ctrl.scenario.feature.info.keyword + ' ' + ctrl.scenario.feature.info.name }}
      </a>
    </li>
    <li class="active">
      {{ ctrl.scenario.info.keyword + ' ' + ctrl.scenario.info.name }}
    </li>
  </ol>

  <!-- Header -->

  <h1>
    <tc-element-info info="ctrl.scenario.info"></tc-element-info>
    <small>
      <tc-status status="ctrl.scenario.status"></tc-status>
    </small>
  </h1>

  <p>
    <b>Créé le :</b>
    {{ ctrl.scenario.createdAt | niceDate }}
  </p>

  <p ng-hide="ctrl.scenario.createdAt == ctrl.scenario.modifiedAt">
    <b>Modifié le :</b>
    {{ ctrl.scenario.modifiedAt | niceDate }}
  </p>

  <p ng-if="ctrl.scenario.allTags.length > 0">
    <b>Tags :</b>
    <tc-tags test-run-id="ctrl.scenario.testRunId" tags="ctrl.scenario.allTags"
             primary-tags="ctrl.scenario.tags"></tc-tags>
  </p>

  <hr>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">

      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
        Modifier le statut
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a href ng-click="ctrl.changeStatus('PASSED')">Succès</a></li>
        <li><a href ng-click="ctrl.changeStatus('FAILED')">Échec</a></li>
        <li><a href ng-click="ctrl.changeStatus('NOT_RUN')">Non joué</a></li>
        <li><a href ng-click="ctrl.changeStatus('PENDING')">En attente</a></li>
      </ul>

    </div>
    <div class="btn-group" role="group">

      <button ng-click="ctrl.delete()" class="btn btn-danger btn-default">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Supprimer
      </button>

    </div>
  </div>

  <hr>

  <!-- Steps -->

  <h2>Étapes du scénario</h2>

  <p>
    <button type="button" class="btn btn-default btn-xs"
            uib-popover-template="'stepDisplayOptions.html'"
            popover-title="Configurer les options d'affichage"
            popover-placement="right"
            popover-trigger="outsideClick">
      Options d'affichage
    </button>
  </p>

  <!-- Comments -->

  <p class="text-muted" ng-if="ctrl.stepFilters.comments && ctrl.scenario.comment">
    <tc-line-breaks content="ctrl.scenario.comment"></tc-line-breaks>
  </p>

  <!-- Before actions -->

  <div ng-if="ctrl.stepFilters.beforeAndAfterActions" ng-repeat="action in ctrl.scenario.beforeActions">
    <p>
      <i><b>Pré-action</b> #{{ $index + 1 }}</i>
      <tc-status status="action.status"></tc-status>
    </p>
    <pre ng-if="ctrl.stepFilters.errorDetails && action.errorMessage">{{ action.errorMessage }}</pre>
  </div>

  <!-- Test background -->

  <div ng-if="ctrl.stepFilters.context && ctrl.scenario.background" ng-repeat="step in ctrl.scenario.background.steps">

    <p class="text-muted" ng-if="ctrl.stepFilters.comments && step.comment">
      <tc-line-breaks content="step.comment"></tc-line-breaks>
    </p>

    <p>
      <i>
        <tc-element-info info="step.info"></tc-element-info>
      </i>
      <tc-status status="step.status"></tc-status>
    </p>

    <pre ng-if="ctrl.stepFilters.errorDetails && step.errorMessage">{{ step.errorMessage }}</pre>

  </div>

  <!-- Test steps -->

  <div ng-repeat="step in ctrl.scenario.steps">

    <p class="text-muted" ng-if="ctrl.stepFilters.comments && step.comment">
      <tc-line-breaks content="step.comment"></tc-line-breaks>
    </p>

    <p>
      <tc-element-info info="step.info"></tc-element-info>
      <tc-status status="step.status"></tc-status>
    </p>

    <table ng-if="step.table" class="table table-bordered" style="width: auto">
      <tbody>
      <tr ng-repeat="row in step.table">
        <td ng-repeat="cell in row"><code>{{ cell }}</code></td>
      </tr>
      </tbody>
    </table>

    <pre ng-if="ctrl.stepFilters.errorDetails && step.errorMessage">{{ step.errorMessage }}</pre>

  </div>

  <!-- After actions -->

  <div ng-if="ctrl.stepFilters.beforeAndAfterActions" ng-repeat="action in ctrl.scenario.afterActions">
    <p>
      <i><b>Post-action</b> #{{ $index + 1 }}</i>
      <tc-status status="action.status"></tc-status>
    </p>
    <pre ng-if="ctrl.stepFilters.errorDetails && action.errorMessage">{{ action.errorMessage }}</pre>
  </div>

  <hr>

  <!-- Comments -->

  <h2>Commentaires</h2>

  <div
    ng-repeat="comment in ctrl.comments | filter:ctrl.limitDisplayedComments as filteredComments track by comment.id">
    <h5>Le {{ comment.date | niceDate }}</h5>
    <p ng-class="ctrl.isCommentFromSameTestRun(comment) || 'text-muted'">
      <tc-line-breaks content="comment.content"></tc-line-breaks>
    </p>
  </div>

  <p ng-if="filteredComments.length < ctrl.comments.length">
    <i>
      Les commentaires les plus anciens ne sont pas affichés.
      <a href="" ng-click="ctrl.limitMaxDisplayedComments = false">
        Cliquez ici pour afficher tous les commentaires.
      </a>
    </i>
  </p>

  <form ng-controller="AddCommentCtrl as addCommentCtrl">

    <div class="form-group">
      <textarea ng-model="addCommentCtrl.content" class="form-control" rows="3"
                placeholder="Entrez votre commentaire">
      </textarea>
    </div>

    <button ng-click="addCommentCtrl.addComment()" type="submit" class="btn btn-primary">
      Ajouter le commentaire
    </button>

  </form>

  <hr>

  <!-- History -->

  <h2>Historique</h2>

  <div class="form" style="margin-bottom: 10px">
    <div class="form-group">
      <b>Filtrer :</b>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.historyFilters.sameTestRun" ng-change="ctrl.updateStoredHistoryFilters()">
        Même environnement de tir
      </label>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-md-1">Environnement</th>
      <th class="col-md-10">Tir</th>
      <th class="col-md-1">Statut</th>
    </tr>
    </thead>
    <tbody>
    <tr
      ng-repeat="scenario in ctrl.history | filter:ctrl.isHistoryItemDisplayable track by scenario.testRun.id"
      ng-class="ctrl.scenario.testRunId == scenario.testRun.id && 'active'">
      <td>
        <span class="label label-default">{{ scenario.testRun.env }}</span>
      </td>
      <td>
        <a ng-href="#/scenarii/{{ scenario.id }}">
          {{ scenario.testRun.date | niceDate }}
        </a>
      </td>
      <td>
        <tc-status status="scenario.status"></tc-status>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Popup content for display options -->
  <script type="text/ng-template" id="stepDisplayOptions.html">

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.stepFilters.comments" ng-change="ctrl.updateStoredStepFilters()">
          Les commentaires
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.stepFilters.context" ng-change="ctrl.updateStoredStepFilters()">
          Le contexte
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="ctrl.stepFilters.beforeAndAfterActions"
                 ng-change="ctrl.updateStoredStepFilters()">
          Les actions avant / après
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.stepFilters.errorDetails" ng-change="ctrl.updateStoredStepFilters()">
          Le détail des erreurs
        </label>
      </div>

    </div>

  </script>


</div>
