<div uib-tooltip="Total: {{ $ctrl.total }}">

  <uib-progress>
    <uib-bar ng-if="$ctrl.success" value="100 * $ctrl.success / $ctrl.total" type="success" style="min-width: 2em">
      {{ $ctrl.success }}
    </uib-bar>
    <uib-bar ng-if="$ctrl.warning" value="100 * $ctrl.warning / $ctrl.total" type="warning" style="min-width: 2em">
      {{ $ctrl.warning }}
    </uib-bar>
    <uib-bar ng-if="$ctrl.danger" value="100 * $ctrl.danger / $ctrl.total" type="danger" style="min-width: 2em">
      {{ $ctrl.danger }}
    </uib-bar>
  </uib-progress>

</div>
