<div uib-popover-template="'scenarioProgessPopover.html'"
     popover-placement="bottom"
     popover-trigger="mouseenter"
     popover-title="Statistiques détaillées">

  <uib-progress>

    <uib-bar ng-if="$ctrl.hasStatus('PASSED')"
             value="$ctrl.getStatusPercentRate('PASSED')"
             type="success">
      <span ng-if="$ctrl.isValueDisplayable('PASSED')">{{ $ctrl.stats.statsByStatus['PASSED'] }}</span>
    </uib-bar>

    <uib-bar ng-if="$ctrl.hasStatus('PENDING')"
             value="$ctrl.getStatusPercentRate('PENDING')"
             type="warning">
      <span ng-if="$ctrl.isValueDisplayable('PENDING')">{{ $ctrl.stats.statsByStatus['PENDING'] }}</span>
    </uib-bar>

    <uib-bar ng-if="$ctrl.hasStatus('FAILED')"
             value="$ctrl.getStatusPercentRate('FAILED')"
             type="danger">
      <span ng-if="$ctrl.isValueDisplayable('FAILED')">{{ $ctrl.stats.statsByStatus['FAILED'] }}</span>
    </uib-bar>

  </uib-progress>


  <!-- Popup for detailed information about stats -->
  <script type="text/ng-template" id="scenarioProgessPopover.html">

    <ul class="list-unstyled">
      <li><b>Total :</b> {{ $ctrl.stats.count }}</li>
      <li><b>Succès :</b> {{ $ctrl.stats.statsByStatus['PASSED'] }}</li>
      <li><b>En attente :</b> {{ $ctrl.stats.statsByStatus['PENDING'] }}</li>
      <li><b>Échecs :</b> {{ $ctrl.stats.statsByStatus['FAILED'] }}</li>
      <li><b>Non joués :</b> {{ $ctrl.stats.statsByStatus['NOT_RUN'] }}</li>
    </ul>

  </script>


</div>
