<div uib-popover-template="'scenarioProgessPopover.html'"
     popover-placement="bottom"
     popover-trigger="mouseenter"
     popover-title="Statistiques détaillées">

  <uib-progress>

    <uib-bar ng-if="$ctrl.stats.statsByStatus['PASSED']"
             value="100 * $ctrl.stats.statsByStatus['PASSED'] / $ctrl.stats.count"
             type="success"
             style="min-width: 2em">
      {{ $ctrl.stats.statsByStatus['PASSED'] }}
    </uib-bar>

    <uib-bar ng-if="$ctrl.stats.statsByStatus['PENDING']"
             value="100 * $ctrl.stats.statsByStatus['PENDING'] / $ctrl.stats.count"
             type="warning"
             style="min-width: 2em">
      {{ $ctrl.stats.statsByStatus['PENDING'] }}
    </uib-bar>

    <uib-bar ng-if="$ctrl.stats.statsByStatus['FAILED']"
             value="100 * $ctrl.stats.statsByStatus['FAILED'] / $ctrl.stats.count"
             type="danger"
             style="min-width: 2em">
      {{ $ctrl.stats.statsByStatus['FAILED'] }}
    </uib-bar>

  </uib-progress>


  <!-- Popup for detailed information about stats -->
  <script type="text/ng-template" id="scenarioProgessPopover.html">

    <ul class="list-unstyled">
      <li><b>Total :</b> {{ $ctrl.stats.count }}</li>
      <li><b>Succès :</b> {{ $ctrl.stats.statsByStatus['PASSED'] }}</li>
      <li><b>En attente :</b> {{ $ctrl.stats.statsByStatus['PENDING'] }}</li>
      <li><b>Échecs :</b> {{ $ctrl.stats.statsByStatus['FAILED'] }}</li>
      <li><b>Non joués :</b> {{ $ctrl.stats.statsByStatus['NOT_RUN'] }}</li>
    </ul>

  </script>


</div>
