<!-- Pie char -->
<tc-pie-chart
  data="$ctrl.series"
  total="$ctrl.total"
  uib-popover-template="'scenarioProgessPopover.html'"
  popover-placement="bottom"
  popover-trigger="mouseenter"
  popover-title="Statistiques détaillées">
</tc-pie-chart>


<!-- Popup for detailed information about stats -->
<script type="text/ng-template" id="scenarioProgessPopover.html">

  <ul class="list-unstyled">
    <li><b>Total :</b> {{ $ctrl.stats.count }}</li>
    <li><b>Succès :</b> {{ $ctrl.stats.passed }}</li>
    <li><b>En attente :</b> {{ $ctrl.stats.pending }}</li>
    <li><b>Échecs :</b> {{ $ctrl.stats.failed }}</li>
    <li><b>Non joués :</b> {{ $ctrl.stats.notRun }}</li>
  </ul>

</script>
