<div class="form" style="margin-bottom: 10px">

  <div class="form-group">
    <b>Filtrer par statut :</b>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="$ctrl.filters.passed" ng-change="$ctrl.onFilterChange()"> Succès
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="$ctrl.filters.failed" ng-change="$ctrl.onFilterChange()"> Échecs
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="$ctrl.filters.pending" ng-change="$ctrl.onFilterChange()"> En attente
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="$ctrl.filters.notRun" ng-change="$ctrl.onFilterChange()"> Non joués
    </label>
  </div>

</div>
