<div>

  <ol class="breadcrumb">
    <li>Type {{ ctrl.testRun.type }}</li>
    <li class="active">Tir du {{ ctrl.testRun.date | niceDate }}</li>
  </ol>

  <h1>Tir du {{ ctrl.testRun.date | niceDate }}</h1>

  <p>
    <b>Identifiant du tir :</b>
    <code>{{ ctrl.testRun.id }}</code>
  </p>

  <hr>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">

      <button ng-click="ctrl.openImportForm()" class="btn btn-default">
        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
        Importer un résultat de tests Cucumber
      </button>

    </div>
    <div class="btn-group" role="group">

      <button ng-click="ctrl.viewTags()" class="btn btn-default">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        Statistiques par tag
      </button>

    </div>
    <div class="btn-group" role="group">

      <button ng-click="ctrl.delete()" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Supprimer
      </button>

    </div>
  </div>

  <!-- Stats -->

  <hr>

  <h2>Avancement par scénario</h2>

  <tc-progress total="ctrl.testRun.stats.count"
               success="ctrl.testRun.stats.statsByStatus['PASSED']"
               warning="ctrl.testRun.stats.statsByStatus['PENDING']"
               danger="ctrl.testRun.stats.statsByStatus['FAILED']">
  </tc-progress>

  <!-- Features -->

  <hr>

  <h2>Fonctionnalités</h2>

  <div class="form" style="margin-bottom: 10px">
    <div class="form-group">
      <b>Filtrer par statut :</b>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.filters.passed" ng-change="ctrl.updateStoredFilters()">
        Succès
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.filters.failed" ng-change="ctrl.updateStoredFilters()">
        Échecs
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.filters.partial" ng-change="ctrl.updateStoredFilters()">
        Partiels
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.filters.notRun" ng-change="ctrl.updateStoredFilters()">
        Non joués
      </label>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="col-md-1">Groupe</th>
      <th class="col-md-5">Fonctionnalité</th>
      <th class="col-md-1">Statut</th>
      <th class="col-md-1">Total</th>
      <th class="col-md-1">Succès</th>
      <th class="col-md-1">Échecs</th>
      <th class="col-md-1">En attente</th>
      <th class="col-md-1">Non joués</th>
    </tr>
    </thead>
    <tbody>
    <tr
      ng-repeat="feature in ctrl.testRun.features | filter:ctrl.isFeatureDisplayable as filteredFeatures track by feature.id">
      <td>{{ feature.group }}</td>
      <td>
        <a ng-href="#/features/{{ feature.id }}">
          {{ feature.info.name }}
        </a>
      </td>
      <td>
        <tc-status status="feature.status"></tc-status>
      </td>
      <td><span class="badge">{{ feature.stats.count }}</span></td>
      <td><span class="badge">{{ feature.stats.statsByStatus['PASSED'] }}</span></td>
      <td><span class="badge">{{ feature.stats.statsByStatus['FAILED'] }}</span></td>
      <td><span class="badge">{{ feature.stats.statsByStatus['PENDING'] }}</span></td>
      <td><span class="badge">{{ feature.stats.statsByStatus['NOT_RUN'] }}</span></td>
    </tr>
    </tbody>
    <tfoot ng-if="filteredFeatures.length != ctrl.testRun.features.length">
    <tr>
      <td class="warning" colspan="12" style="text-align: center">
        Attention :
        <ng-pluralize count="ctrl.testRun.features.length - filteredFeatures.length"
                      when="{ 'one': 'une fonctionnalité masquée', 'other': '{} fonctionnalités masquées'}">
        </ng-pluralize>
      </td>
    </tr>
    </tfoot>
  </table>

  <!-- History -->

  <hr>

  <h2>Historique</h2>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-md-7">Tir</th>
      <th class="col-md-1">Total</th>
      <th class="col-md-1">Succès</th>
      <th class="col-md-1">Échecs</th>
      <th class="col-md-1">En attente</th>
      <th class="col-md-1">Non joués</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="testRun in ctrl.history track by testRun.id"
        ng-class="ctrl.testRun.id == testRun.id && 'active'">
      <td>
        <a ng-href="#/test-runs/{{ testRun.id }}">
          {{ testRun.date | niceDate }}
        </a>
      </td>
      <td><span class="badge">{{ testRun.stats.count }}</span></td>
      <td><span class="badge">{{ testRun.stats.statsByStatus['PASSED'] }}</span></td>
      <td><span class="badge">{{ testRun.stats.statsByStatus['FAILED'] }}</span></td>
      <td><span class="badge">{{ testRun.stats.statsByStatus['PENDING'] }}</span></td>
      <td><span class="badge">{{ testRun.stats.statsByStatus['NOT_RUN'] }}</span></td>
    </tr>
    </tbody>
  </table>

  <!-- Import cucumber results modal window -->

  <script type="text/ng-template" id="importCucumberResults.html">
    <form>


      <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Fermer">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Importer un résultat de tests Cucumber</h4>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="file">Fichier à importer</label>
          <input type="file" id="file" ng-model="importCtrl.file" ngf-select ngf-pattern="'.json'" autofocus>
          <p class="help-block">Le fichier à importer est un résultat d'exécution Cucumber, au format JSON.</p>
        </div>

        <div class="form-group">
          <label for="group">Groupe</label>
          <input type="text" id="group" ng-model="importCtrl.importOptions.group" class="form-control"
                 placeholder="Nom d'un groupe pour les fonctionnalités importées">
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="importCtrl.importOptions.onlyNewScenarii">
            Limiter l'import aux nouveaux scénarii
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="importCtrl.importOptions.dryRun">
            Tir à blanc
          </label>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$dismiss()">Annuler</button>
        <button type="submit" class="btn btn-primary" ng-click="importCtrl.import()">Importer</button>
      </div>

    </form>
  </script>

</div>
