<div>

  <ol class="breadcrumb">
    <li>Derniers tirs de tests</li>
  </ol>

  <h1>Derniers tirs de tests</h1>

  <hr>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">

      <button type="button" class="btn btn-primary btn-default" ng-click="ctrl.openCreateForm()">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Créer un tir de tests
      </button>

    </div>
  </div>

  <hr>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Tir de test</th>
      <th>Environnement</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="testRun in ctrl.latestTestRuns">
      <td>
        <a ng-href="#/test-runs/{{ testRun.id }}">Tir du {{ testRun.date | date:'dd/MM/yyyy à HH:mm' }}</a>
      </td>
      <td>
        <span class="label label-default">{{ testRun.env }}</span>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Create test run modal window -->
  <script type="text/ng-template" id="createTestRunForm.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Fermer">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Créer un nouveau tir de tests</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="env">Environnement</label>
        <input type="text" class="form-control" id="env" ng-model="createCtrl.testRun.env">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Annuler</button>
      <button type="button" class="btn btn-primary" ng-click="createCtrl.create()">Créer</button>
    </div>
  </script>

</div>
