<div>

  <ol class="breadcrumb">
    <li>Type {{ ctrl.testRun.type }}</li>
    <li>
      <a ng-href="#/test-runs/{{ ctrl.testRun.id }}">
        Tir du {{ ctrl.testRun.date | niceDate }}
      </a>
    </li>
    <li>
      <a ng-href="#/test-runs/{{ ctrl.testRun.id }}/tags">Tags</a>
    </li>
    <li class="active">
      Tags
      {{ ctrl.tags | prefixAndJoin:'@':' ' }}
      {{ ctrl.excludedTags | prefixAndJoin:'~@':' ' }}
    </li>
  </ol>

  <h1>
    Tags
    {{ ctrl.tags | prefixAndJoin:'@':' ' }}
    {{ ctrl.excludedTags | prefixAndJoin:'~@':' ' }}
    <small>Tir du {{ ctrl.testRun.date | niceDate }}</small>
  </h1>

  <!-- Tag filters -->

  <hr>

  <form class="row">

    <div class="col-xs-5">
      <div class="input-group input-group-sm">
        <label for="tags" class="control-label input-group-addon">Tags inclus</label>
        <input type="text" class="form-control" id="tags"
               ng-model="ctrl.tagsInput">
      </div>
    </div>

    <div class="col-xs-5">
      <div class="input-group input-group-sm">
        <label for="excludedTags" class="control-label input-group-addon">Tags exclus</label>
        <input type="text" class="form-control" id="excludedTags"
               ng-model="ctrl.excludedTagsInput">
      </div>
    </div>

    <div class="col-xs-2">
      <button class="btn btn-default btn-sm btn-block" ng-click="ctrl.updateRouteForTags()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        Actualiser
      </button>
    </div>

  </form>

  <!-- Stats -->

  <hr>

  <h2>Avancement par scénario</h2>

  <tc-scenario-progress stats="ctrl.stats"></tc-scenario-progress>

  <!-- Features -->

  <hr>

  <h2>Fonctionnalités</h2>

  <tc-feature-list
    features="ctrl.features"
    filters="ctrl.featureFilters"
    on-filter-update="ctrl.updateStoredFilters(filters)"
    on-features-filtered="ctrl.updateFeatureIds(featureIds)">
  </tc-feature-list>

  <!-- Scénarii -->

  <hr>

  <h2>Scénarii</h2>

  <tc-scenario-list
    display-feature="true" scenarii="ctrl.scenarii"
    filters="ctrl.scenarioFilters"
    on-filter-update="ctrl.updateScenarioStoredFilters(filters)"
    extra-filter="ctrl.isFeatureIdSelected">
  </tc-scenario-list>

</div>
