<div>

  <h1>
    Tir du {{ ctrl.testRun.date | date:'dd/MM/yyyy à HH:mm' }}
    <span class="label label-default">{{ ctrl.testRun.env }}</span>
    <tc-test-run-status status="ctrl.testRun.status"></tc-test-run-status>
  </h1>

  <hr>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">

      <button ngf-select="ctrl.import($file)" class="btn btn-primary btn-default">
        <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
        Importer un résultat de tests Cucumber
      </button>

    </div>
  </div>

  <hr>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Fonctionnalité</th>
      <th>Tags</th>
      <th>Statut</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="feature in ctrl.testRun.features">
      <td>
        <a ng-href="#/features/{{ feature.id }}">
          {{ feature.info.name }}
        </a>
      </td>
      <td>
        <tc-tags tags="feature.tags"></tc-tags>
      </td>
      <td>
        UNDEFINED
      </td>
    </tr>
    </tbody>
  </table>

</div>
