<div>

  <ol class="breadcrumb">
    <li>Type {{ ctrl.testRun.type }}</li>
    <li>
      <a ng-href="#/test-runs/{{ ctrl.testRun.id }}">
        Tir du {{ ctrl.testRun.date | niceDate }}
      </a>
    </li>
    <li class="active">Tags</li>
  </ol>

  <h1>
    Tous les tags
    <small>Tir du {{ ctrl.testRun.date | niceDate }}</small>
  </h1>

  <!-- Tags -->

  <hr>

  <h2>Statistiques sur les scénarii</h2>


  <div class="form" style="margin-bottom: 10px">
    <div class="form-group">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Filter par tag"
               ng-model="ctrl.filteredTags"
               ng-model-options="{ debounce: 250 }">

        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="ctrl.clearTagsFilter()">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          </button>
        </span>

      </div>

    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="col-md-6">Tag</th>
      <th class="col-md-1">Statut</th>
      <th class="col-md-1">Total</th>
      <th class="col-md-1">Succès</th>
      <th class="col-md-1">Échecs</th>
      <th class="col-md-1">En attente</th>
      <th class="col-md-1">Non joués</th>
    </tr>
    </thead>
    <tbody>
    <tr
      ng-repeat="tag in ctrl.testRun.tags | filter:ctrl.isAcceptedTag track by tag.tag">
      <td>
        <tc-tags test-run-id="ctrl.testRun.id" tags="[tag.tag]"></tc-tags>
      </td>
      <td>
        <tc-status status="tag.status"></tc-status>
      </td>
      <td><span class="badge">{{ tag.stats.count }}</span></td>
      <td><span class="badge">{{ tag.stats.statsByStatus['PASSED'] }}</span></td>
      <td><span class="badge">{{ tag.stats.statsByStatus['FAILED'] }}</span></td>
      <td><span class="badge">{{ tag.stats.statsByStatus['PENDING'] }}</span></td>
      <td><span class="badge">{{ tag.stats.statsByStatus['NOT_RUN'] }}</span></td>
    </tr>
    </tbody>
  </table>

</div>
