<div>

  <ol class="breadcrumb">
    <li>Type {{ ctrl.scenario.testRun.type }}</li>
    <li>
      <a ng-href="#/test-runs/{{ ctrl.scenario.testRun.id }}">
        Tir du {{ ctrl.scenario.testRun.date | niceDate }}
      </a>
    </li>
    <li>
      <a ng-href="#/features/{{ ctrl.scenario.featureId }}">
        {{ ctrl.scenario.feature.info.keyword + ' ' + ctrl.scenario.feature.info.name }}
      </a>
    </li>
    <li class="active">
      {{ ctrl.scenario.info.keyword + ' ' + ctrl.scenario.info.name }}
    </li>
  </ol>

  <!-- Header -->

  <h1>
    <tc-element-info info="ctrl.scenario.info"></tc-element-info>
    <small>
      <tc-status status="ctrl.scenario.status"></tc-status>
    </small>
  </h1>

  <p>
    <b>Créé le :</b>
    {{ ctrl.scenario.createdAt | niceDate }}
  </p>

  <p ng-if="ctrl.scenario.createdAt != ctrl.scenario.modifiedAt">
    <b>Modifié le :</b>
    {{ ctrl.scenario.modifiedAt | niceDate }}
  </p>

  <p ng-if="ctrl.scenario.allTags.length > 0">
    <b>Tags :</b>
    <tc-tags test-run-id="ctrl.scenario.testRunId" tags="ctrl.scenario.allTags"></tc-tags>
  </p>

  <hr>

  <div class="row">
    <div class="col-md-7">

      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">

          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            <tc-glyphicon name="flag"></tc-glyphicon>
            Modifier le statut
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu">
            <li><a href ng-click="ctrl.changeStatus('PASSED')">Succès</a></li>
            <li><a href ng-click="ctrl.changeStatus('FAILED')">Échec</a></li>
            <li><a href ng-click="ctrl.changeStatus('NOT_RUN')">Non joué</a></li>
            <li><a href ng-click="ctrl.changeStatus('PENDING')">En attente</a></li>
          </ul>

        </div>
        <div class="btn-group" role="group">

          <button type="button" class="btn btn-default" ng-click="ctrl.changeReviewState(!ctrl.scenario.reviewed)"
                  ng-switch on="ctrl.scenario.reviewed">
        <span ng-switch-when="true">
          <tc-glyphicon name="eye-close"></tc-glyphicon>
          Marquer comme non analysé
        </span>
            <span ng-switch-default>
          <tc-glyphicon name="eye-open"></tc-glyphicon>
          Marquer comme analysé
        </span>
          </button>

        </div>
        <div class="btn-group" role="group">

          <button ng-click="ctrl.delete()" class="btn btn-danger btn-default">
            <tc-glyphicon name="remove"></tc-glyphicon>
            Supprimer
          </button>

        </div>
      </div>

    </div>
    <div class="col-md-5">

      <!-- Présence -->

      <p ng-if="!ctrl.presence.known" class="text-warning text-right">
        <tc-glyphicon name="exclamation-sign"></tc-glyphicon>
        Présence d'utilisateurs en simultané inconnue
      </p>

      <div ng-if="ctrl.presence.known" ng-switch="ctrl.presence.otherWatchers.length">
        <p ng-switch-when="0" class="text-success text-right">
          <tc-glyphicon name="ok-sign"></tc-glyphicon>
          Vous êtes seul à regarder ce scénario.
        </p>
        <p ng-switch-when="1" class="text-warning text-right">
          <tc-glyphicon name="exclamation-sign"></tc-glyphicon>
          Une autre personne est en train de regarder ce scénario.
        </p>
        <p ng-switch-default class="text-warning text-right">
          <tc-glyphicon name="exclamation-sign"></tc-glyphicon>
          {{ ctrl.presence.otherWatchers.length }} autres personnes sont en train de regarder ce scénario.
        </p>

      </div>
    </div>
  </div>

  <hr>


  <!-- Steps -->

  <h2>Étapes du scénario</h2>

  <p>
    <button type="button" class="btn btn-default btn-xs"
            uib-popover-template="'stepDisplayOptions.html'"
            popover-title="Configurer les options d'affichage"
            popover-placement="right"
            popover-trigger="outsideClick">
      Options d'affichage
    </button>
  </p>

  <!-- Comments -->

  <p class="text-muted" ng-if="ctrl.stepFilters.comments && ctrl.scenario.comment">
    <tc-simple-text content="ctrl.scenario.comment"></tc-simple-text>
  </p>

  <!-- Before actions -->

  <div ng-if="ctrl.stepFilters.beforeAndAfterActions" ng-repeat="action in ctrl.scenario.beforeActions">
    <p>
      <i><b>Pré-action</b> #{{ $index + 1 }}</i>
      <tc-status status="action.status"></tc-status>
    </p>
    <pre ng-if="ctrl.stepFilters.errorDetails && action.errorMessage">{{ action.errorMessage }}</pre>
  </div>

  <!-- Test background -->

  <div ng-if="ctrl.stepFilters.context && ctrl.scenario.background" ng-repeat="step in ctrl.scenario.background.steps">

    <p class="text-muted" ng-if="ctrl.stepFilters.comments && step.comment">
      <tc-simple-text content="step.comment"></tc-simple-text>
    </p>

    <p>
      <i>
        <tc-element-info info="step.info"></tc-element-info>
      </i>
      <tc-status status="step.status"></tc-status>
    </p>

    <pre ng-if="ctrl.stepFilters.errorDetails && step.errorMessage">{{ step.errorMessage }}</pre>

  </div>

  <!-- Test steps -->

  <div ng-repeat="step in ctrl.scenario.steps">

    <p class="text-muted" ng-if="ctrl.stepFilters.comments && step.comment">
      <tc-simple-text content="step.comment"></tc-simple-text>
    </p>

    <p>
      <tc-element-info info="step.info"></tc-element-info>
      <tc-status status="step.status"></tc-status>
    </p>

    <table ng-if="step.table" class="table table-bordered" style="width: auto">
      <tbody>
      <tr ng-repeat="row in step.table">
        <td ng-repeat="cell in row"><code>{{ cell }}</code></td>
      </tr>
      </tbody>
    </table>

    <pre ng-if="ctrl.stepFilters.errorDetails && step.errorMessage">{{ step.errorMessage }}</pre>

  </div>

  <!-- After actions -->

  <div ng-if="ctrl.stepFilters.beforeAndAfterActions" ng-repeat="action in ctrl.scenario.afterActions">
    <p>
      <i><b>Post-action</b> #{{ $index + 1 }}</i>
      <tc-status status="action.status"></tc-status>
    </p>
    <pre ng-if="ctrl.stepFilters.errorDetails && action.errorMessage">{{ action.errorMessage }}</pre>
  </div>

  <hr>

  <!-- Comments -->

  <h2>Commentaires</h2>

  <div ng-controller="ScenarioCommentsCtrl as commentsCtrl">

    <div
      ng-repeat="comment in commentsCtrl.comments | filter:commentsCtrl.limitDisplayedComments as filteredComments track by comment.id">

      <h4>
        Le {{ comment.date | niceDate }}
        <small ng-if="comment.testRun">
          (tir du <a ng-href="#/scenarii/{{ comment | commentReference:'SCENARIO_ID' }}">{{ comment.testRun.date |
          niceDate }}</a>)
        </small>
      </h4>

      <!-- Comment display -->
      <div ng-if="!comment.edit">

        <p ng-class="commentsCtrl.isCommentFromSameTestRun(comment) || 'text-muted'">
          <tc-simple-text content="comment.content"></tc-simple-text>
        </p>

        <p>
          <button type="button" class="btn btn-default btn-xs" ng-click="comment.edit = true">
            <tc-glyphicon name="pencil"></tc-glyphicon>
            Modifier
          </button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="commentsCtrl.deleteComment(comment)">
            <tc-glyphicon name="remove"></tc-glyphicon>
            Supprimer
          </button>
        </p>

      </div>

      <!-- Comment editing -->
      <div ng-if="comment.edit">

        <form ng-controller="EditCommentCtrl as editCommentCtrl">

          <div class="form-group">
          <textarea ng-model="comment.content" class="form-control" rows="3"
                    placeholder="Entrez votre commentaire"
                    msd-elastic>
          </textarea>
          </div>

          <p>
            <button type="button" class="btn btn-default btn-xs" ng-click="comment.edit = false">
              Annuler
            </button>
            <button type="button" class="btn btn-primary btn-xs" ng-click="editCommentCtrl.save(comment)">
              Enregistrer
            </button>
          </p>

        </form>

      </div>

    </div>

    <p ng-if="filteredComments.length < commentsCtrl.comments.length">
      <i>
        Les commentaires les plus anciens ne sont pas affichés.
        <a href ng-click="commentsCtrl.limitMaxDisplayedComments = false">
          Cliquez ici pour afficher tous les commentaires.
        </a>
      </i>
    </p>

    <h4>Ajouter un nouveau commentaire</h4>

    <form ng-controller="AddCommentCtrl as addCommentCtrl">

      <div class="form-group">
      <textarea ng-model="addCommentCtrl.content" class="form-control" rows="3"
                msd-elastic
                placeholder="Entrez votre commentaire">
      </textarea>
      </div>

      <button ng-click="addCommentCtrl.addComment()" type="submit" class="btn btn-primary">
        Ajouter le commentaire
      </button>

    </form>

  </div>

  <hr>

  <!-- Changes -->

  <h2>Changements</h2>


  <div ng-if="ctrl.scenario.changes.length == 0">
    <p class="text-muted text-center">Aucun changement</p>
  </div>

  <table class="table table-bordered" ng-if="ctrl.scenario.changes.length > 0">
    <thead>
    <tr>
      <th class="col-md-3">Date</th>
      <th class="col-md-3">Type</th>
      <th class="col-md-3">Ancienne&nbsp;valeur</th>
      <th class="col-md-3">Nouvelle&nbsp;valeur</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="change in ctrl.scenario.changes track by change.id">
      <td>{{ change.date | niceDate }}</td>
      <td>
        <span ng-switch="change.type">
          <b ng-switch-when="STATUS">Statut</b>
          <b ng-switch-when="REVIEWED_STATE">Analysé&nbsp;?</b>
          <b ng-switch-default>{{ change.type }}</b>
        </span>
      </td>
      <td>
        <tc-scenario-change type="change.type" value="change.oldValue"></tc-scenario-change>
      </td>
      <td>
        <tc-scenario-change type="change.type" value="change.newValue"></tc-scenario-change>
      </td>
    </tr>
    </tbody>
  </table>


  <hr>

  <!-- History -->

  <h2>Historique</h2>

  <div class="form" style="margin-bottom: 10px">
    <div class="form-group">
      <b>Filtrer :</b>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="ctrl.historyFilters.sameTestRun" ng-change="ctrl.updateHistoryStoredFilters()">
        Même type de tir
      </label>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-md-1">Type</th>
      <th class="col-md-10">Tir</th>
      <th class="col-md-1">Statut</th>
    </tr>
    </thead>
    <tbody>
    <tr
      ng-repeat="scenario in ctrl.history | filter:ctrl.isHistoryItemDisplayable track by scenario.testRun.id"
      ng-class="ctrl.scenario.testRunId == scenario.testRun.id && 'active'">
      <td>
        <span class="label label-default">{{ scenario.testRun.type }}</span>
      </td>
      <td>
        <a ng-href="#/scenarii/{{ scenario.id }}">
          {{ scenario.testRun.date | niceDate }}
        </a>
      </td>
      <td>
        <tc-status status="scenario.status"></tc-status>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Popup content for display options -->
  <script type="text/ng-template" id="stepDisplayOptions.html">

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.stepFilters.comments" ng-change="ctrl.updateStoredStepFilters()">
          Les commentaires
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.stepFilters.context" ng-change="ctrl.updateStoredStepFilters()">
          Le contexte
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="ctrl.stepFilters.beforeAndAfterActions"
                 ng-change="ctrl.updateStoredStepFilters()">
          Les actions avant / après
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.stepFilters.errorDetails" ng-change="ctrl.updateStoredStepFilters()">
          Le détail des erreurs
        </label>
      </div>

    </div>

  </script>


</div>
