<div>

  <div ng-if="$ctrl.features.length > 0">

    <div class="form" style="margin-bottom: 10px">
      <div class="form-group">
        <b>Filtrer les fonctionnalités :</b>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="$ctrl.filters.passed" ng-change="$ctrl.onFilterChange()">
          Succès
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="$ctrl.filters.failed" ng-change="$ctrl.onFilterChange()">
          Échecs
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="$ctrl.filters.partial" ng-change="$ctrl.onFilterChange()">
          Partielles
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="$ctrl.filters.notRun" ng-change="$ctrl.onFilterChange()">
          Non jouées
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="$ctrl.filters.reviewed" ng-change="$ctrl.onFilterChange()">
          Analysées
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="$ctrl.filters.notReviewed" ng-change="$ctrl.onFilterChange()">
          Non analysées
        </label>
      </div>
    </div>

    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th class="col-md-1">Groupe</th>
        <th class="col-md-4">Fonctionnalité</th>
        <th class="col-md-1">Statut</th>
        <th class="col-md-1">Total</th>
        <th class="col-md-1">Succès</th>
        <th class="col-md-1">Échecs</th>
        <th class="col-md-1">En attente</th>
        <th class="col-md-1">Non joués</th>
        <th class="col-md-1">Analysés</th>
      </tr>
      </thead>
      <tbody>
      <tr
        ng-repeat="feature in $ctrl.selectedFeatures track by feature.id">
        <td>{{ feature.group }}</td>
        <td>
          <a ng-href="#/features/{{ feature.id }}">
            {{ feature.info.name }}
          </a>
        </td>
        <td>
          <tc-status status="feature.status"></tc-status>
        </td>
        <td><span class="badge">{{ feature.stats.all.count }}</span></td>
        <td><span class="badge">{{ feature.stats.all.passed }}</span></td>
        <td><span class="badge">{{ feature.stats.all.failed }}</span></td>
        <td><span class="badge">{{ feature.stats.all.pending }}</span></td>
        <td><span class="badge">{{ feature.stats.all.notRun }}</span></td>
        <td><span class="badge">{{ feature.stats.reviewed.count }}</span></td>
      </tr>
      </tbody>
      <tfoot ng-if="$ctrl.selectedFeatures.length != $ctrl.features.length">
      <tr>
        <td class="warning" colspan="12" style="text-align: center">
          Attention :
          <ng-pluralize count="$ctrl.features.length - $ctrl.selectedFeatures.length"
                        when="{ 'one': 'une fonctionnalité masquée', 'other': '{} fonctionnalités masquées'}">
          </ng-pluralize>
        </td>
      </tr>
      </tfoot>
    </table>

  </div>

  <div ng-if="$ctrl.features.length == 0">
    <p class="text-muted text-center">Aucune fonctionnalité</p>
  </div>

</div>
