<div>

  <div ng-if="$ctrl.stats.all.count > 0">

    <p>
      <button class="btn btn-default btn-xs" ng-click="$ctrl.hide()" ng-if="$ctrl.showDetails">
        <span class="glyphicon glyphicon-minus"></span>
        Masquer les détails
      </button>
      <button class="btn btn-default btn-xs" ng-click="$ctrl.show()" ng-if="!$ctrl.showDetails">
        <span class="glyphicon glyphicon-plus"></span>
        Afficher les détails
      </button>
    </p>

    <div class="row">

      <div ng-if="$ctrl.stats.all.count > 0">
        <div class="col-md-4">
          <h5 class="text-center"><b>Tous les scénarii</b></h5>
          <tc-scenario-pie-chart stats="$ctrl.stats" kind="all" show-details="$ctrl.showDetails">
          </tc-scenario-pie-chart>
        </div>
        <div class="col-md-4">
          <h5 class="text-center"><b>Scénarii analysés</b></h5>
          <tc-scenario-pie-chart stats="$ctrl.stats" kind="reviewed" show-details="$ctrl.showDetails">
          </tc-scenario-pie-chart>
        </div>
        <div class="col-md-4">
          <h5 class="text-center"><b>Scénarii non analysés</b></h5>
          <tc-scenario-pie-chart stats="$ctrl.stats" kind="nonReviewed" show-details="$ctrl.showDetails">
          </tc-scenario-pie-chart>
        </div>
      </div>

    </div>

  </div>

  <div ng-if="$ctrl.stats.all.count == 0">
    <p class="text-muted text-center">Aucun scénario</p>
  </div>

</div>
