<form name="purgeForm" ng-submit="purgeForm.$valid && purgeCtrl.purge()" novalidate>

  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Fermer">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Purger les anciens tirs</h4>
  </div>

  <div class="modal-body">

    <div class="form-group" ng-class="purgeCtrl.maxDate.$invalid && purgeCtrl.maxDate.$dirty && 'has-error'">
      <label for="type">Type de test à purger</label>
      <select id="type" class="form-control"
              ng-model="purgeCtrl.selectedTestRunType"
              ng-change="purgeCtrl.updateSelection()"
              required
              autofocus>
        <option ng-repeat="type in purgeCtrl.testRunTypes" value="{{ type }}">{{ type }}</option>
      </select>
    </div>

    <div class="form-group" ng-class="purgeCtrl.maxDate.$invalid && purgeCtrl.maxDate.$dirty && 'has-error'">
      <label for="maxDate">Date maximum des tirs à purger</label>
      <input name="maxDate" type="date" class="form-control" id="maxDate"
             ng-model="purgeCtrl.maxDate"
             ng-change="purgeCtrl.updateSelection()"
             required>
    </div>

    <div class="alert alert-warning" role="alert" ng-if="!purgeForm.$invalid">
      <ng-pluralize count="purgeCtrl.selectedTestRunIds.length"
                    when="{ '0': 'Aucun tir à purger', 'one': 'Vous allez purger un tir.', 'other': 'Vous allez purger {} tirs.'}">
      </ng-pluralize>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">
      Annuler
    </button>
    <button type="submit" class="btn btn-primary" ng-disabled="purgeForm.$invalid">
      Purger
    </button>
  </div>

</form>
