<div>

  <ol class="breadcrumb">
    <li class="active">Derniers tirs de tests</li>
  </ol>

  <h1>Derniers tirs de tests</h1>

  <hr>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">

      <button type="button" class="btn btn-default" ng-click="ctrl.openCreateForm()">
        <tc-glyphicon name="plus-sign"></tc-glyphicon>
        Créer un tir de tests
      </button>

    </div>
    <div class="btn-group" role="group">

      <button type="button" class="btn btn-default" ng-click="ctrl.openPurgeForm()">
        <tc-glyphicon name="tree-deciduous"></tc-glyphicon>
        Purger les anciens tirs
      </button>

    </div>
  </div>

  <hr>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="col-md-1">Type</th>
      <th class="col-md-5">Tir de test</th>
      <th class="col-md-1">Total</th>
      <th class="col-md-1">Succès</th>
      <th class="col-md-1">Échecs</th>
      <th class="col-md-1">En attente</th>
      <th class="col-md-1">Non joués</th>
      <th class="col-md-1">Analysés</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="testRun in ctrl.latestTestRuns track by testRun.id">
      <td>
        <span class="label label-default">{{ testRun.type }}</span>
      </td>
      <td>
        <a ng-href="#/test-runs/{{ testRun.id }}">Tir du {{ testRun.date | niceDate }}</a>
      </td>
      <td><span class="badge">{{ testRun.stats.all.count }}</span></td>
      <td><span class="badge">{{ testRun.stats.all.passed }}</span></td>
      <td><span class="badge">{{ testRun.stats.all.failed }}</span></td>
      <td><span class="badge">{{ testRun.stats.all.pending }}</span></td>
      <td><span class="badge">{{ testRun.stats.all.notRun }}</span></td>
      <td><span class="badge">{{ testRun.stats.reviewed.count }}</span></td>
    </tr>
    </tbody>
  </table>

</div>
