name: Build

on:
  push:
    branches: [ main ]
  pull_request: { }

env:
  JAVA_VERSION: "21"
  NODE_VERSION: "22"

jobs:
  build:
    name: "Build"

    runs-on: ubuntu-latest

    env:
      GRADLE_OPTS: "-Dorg.gradle.caching=false -Dorg.gradle.daemon=false"
      DOCKER_USERNAME: pgentile
      CYPRESS_CACHE_FOLDER: ~/.cache/Cypress

    steps:
      - name: About env
        run: |
          echo "Env"
          export
          echo
          echo "Github Action vars"
          echo "github.ref = ${{ github.ref  }}"

      - name: Checkout
        uses: actions/checkout@v5

      - name: Cypress cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CYPRESS_CACHE_FOLDER }}
          key: ${{ runner.os }}-cypress-${{ hashFiles('zucchini-ui-e2e-tests/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-cypress-

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: temurin
          check-latest: true

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
          check-latest: true
          cache: yarn
          cache-dependency-path: '**/yarn.lock'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Install JS dependencies
        run: ./gradlew yarnInstall

      - name: Assemble project
        run: ./gradlew assemble

      - name: Test and check project
        run: ./gradlew check

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: ./gradlew dockerBuild

      - name: Start server with Docker
        run: ./gradlew dockerComposeUp

      - name: Run Cypress tests
        uses: cypress-io/github-action@v4
        with:
          working-directory: ./zucchini-ui-e2e-tests
          # Already installed
          install: false
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # pass GitHub token to allow accurately detecting a build vs a re-run build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Collect Cypress videos
        uses: actions/upload-artifact@v5
        with:
          name: Cypress videos for E2E tests
          path: ./zucchini-ui-e2e-tests/cypress/videos

      - name: JUnit Report Action
        uses: mikepenz/action-junit-report@v6
        if: always()
        with:
          report_paths: '**/test-results/**/TEST-*.xml'

      - name: Push Docker image
        if: github.ref == 'refs/heads/main'
        run: ./gradlew dockerPush
